<!DOCTYPE html>
<html lang="en">
<head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport"
          content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel='stylesheet'
          href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet"
          href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app2.css"/>
</head>

<body ng-app="svcMgrApp" layout="row" ng-controller="svcController">


<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="row" class="md-whiteframe-z1">

        <h1>Services Manager</h1>
    </md-toolbar>


    <md-tabs md-stretch-tabs="always" md-dynamic-height md-border-bottom
             md-selected="1">
        <md-tab>
            <md-tab-label>
                Favoris
            </md-tab-label>
            <md-tab-body>
                XX
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>
                Tous
            </md-tab-label>
            <md-tab-body>
                <md-list>

                    <md-list-item
                            class="md-2-line"
                            ng-repeat="service in services"
                            ng-click="toggleFavorite(service)"
                            >
                        <md-button class="md-icon-button"

                                   ng-disabled="service.status==undefined"
                                   aria-label="Favoris"
                                >
                            <md-icon md-font-set="material-icons"
                                     class="star"
                                     aria-label="Favoris?"

                                     ng-class="{'md-primary':service.isFavorite}">star
                            </md-icon>
                        </md-button>
                        <div class="md-list-item-text">
                            <h3>{{ service.name }}</h3>
                            <p>{{ service.displayName }}</p>
                        </div>
                        <md-switch class="md-secondary"
                                   ng-model="service.isStarted"
                                   ng-disabled="service.status==undefined || service.enable == false"
                                   ng-change="toggle(service)"/>
                    </md-list-item>
                </md-list>
            </md-tab-body>
        </md-tab>
    </md-tabs>


</div>

<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-animate/angular-animate.js"></script>
<script src="./bower_components/angular-aria/angular-aria.js"></script>
<script type="text/javascript"
src="./bower_components/angular-material/angular-material.js"></script>
<script src="./bower_components/async/lib/async.js"></script>

<script src="./src/services/Services.js"></script>
<script src="./src/services/SvcController.js"></script>
<script src="./src/services/SvcService.js"></script>
<script src="./src/services/FavoriteService.js"></script>

<script type="text/javascript">

    angular
            .module('svcMgrApp', ['ngMaterial', 'app.services'])
            .config(function ($mdThemingProvider, $mdIconProvider) {

//                $mdIconProvider
//                        .icon("star", "./assets/svg/ic_star_black_24px.svg", 24)
//                        .icon("star-border","./assets/svg/ic_star_border_black_24px.svg", 24);

                $mdIconProvider.defaultFontSet('Material Icons');
                $mdThemingProvider.theme('default')
                        .primaryPalette("blue")
                        .accentPalette('red')
                        .warnPalette('green');

            });

</script>

</body>
</html>
